# <!-- Managed automatically by PreTeXt authoring tools -->
# (delete the above line to manage this file manually)

# Boilerplate list of files in a PreTeXt project for git to ignore
# ensure this file is tracked
!.gitignore

IGNORE_ME/
